.bulb-background {
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bulb {
  border-radius: 50%;
  background-color: #222;
  width: 200px;
  height: 200px;
}

.background-off {
  background-color: black;
}

.background-on {
  background-color: #f8f87b;
}

.bulb-on {
  background-color: white;
}

.bulb-off {
  background-color: #222;
}

body {
  margin: 0;
}
